/* nav-middle-section  */
/* >>> links  */
.nav-middle-section  a {
  display: inline-block;
  width: 100%;
}

.nav-middle-section ul li {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;

}

.mob_shop-sub {
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.mob_shop-sub.open {
  max-height: 500px; /* ارتفاع کافی برای همه آیتم‌ها */
}

.submenu-item a {
  display: block;
  padding: 10px 15px;
  background-color: var(--color-brown-100);
  color: var(--color-zinc-700);
  text-decoration: none;
  font-size: 0.8rem;
}

.open-nav {
  right: 0 !important;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
}
.close-nav {
  right: -16rem !important;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
}

/* Home  */
.home-bg {
  background-image: url("../Assets/img/headerBgMobile.webp");
}